
html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
<<<<<<< HEAD
    color:#15171A;
    background-color:whitesmoke;
=======
    color: #15171A;
    background-color: whitesmoke;
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}


.header {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}
<<<<<<< HEAD
=======

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
.header__img {
    margin-left: 20px;
    margin-top: 20px;
    width: 100;
}


h1 {
    margin: 0 0 0.5em 0;
    font-size: 4rem;
    font-weight: 700;
}
<<<<<<< HEAD
=======

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2rem;
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}


.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2em;
<<<<<<< HEAD
    color:#15171A;
=======
    color: #15171A;
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
}

.content-body {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    font-family:  Georgia, Times, serif;
}

=======
    font-family: Georgia, Times, serif;
}

    .content-body img {
        width: 100%;
    }

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
.module-full-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    grid-row-gap: .5em;
    margin: 0 auto;
    margin-top: 25px;
}

<<<<<<< HEAD
.module-content-sidebar{
   text-align: center;
=======
.module-content-sidebar {
    text-align: center;
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
}

.module-sidebar-title {
    background: #f4ac27;
    color: whitesmoke;
    font-weight: 900;
    font-size: 2.5rem;
}
<<<<<<< HEAD
.module-sidebar-buttons{
    text-align: center;
}

.module-sidebar-buttons button{
    background-color: #2194c0;
    color: whitesmoke;
    font-weight: 800;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 8px;
    margin-top: 15px;
    width: 100%;
}


@media (max-width: 680px) {
    .module-full-content  {
=======

.module-sidebar-buttons {
    text-align: center;
}

    .module-sidebar-buttons input {
        background-color: #2194c0;
        color: whitesmoke;
        font-weight: 800;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 5px;
        padding: 8px;
        margin-top: 15px;
        width: 100%;
    }


@media (max-width: 680px) {
    .module-full-content {
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
        grid-template-columns: 1fr;
    }
}


.module-feature-image img {
    /* margin: 0 0 3vw; */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}



.module-author-profile {
    font-size: 16px;
}

<<<<<<< HEAD
.module-author-profile h2 {
    font-size: 16px;
}

.module-author-profile a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 12px;
}
=======
    .module-author-profile h2 {
        font-size: 16px;
    }

    .module-author-profile a {
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 12px;
    }
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c

.module-tags a {
    font-size: 13px;
    color: red;
    margin: 0 .4em 0 0;
}


.content-title {
    margin: 0 0 0.8em;
    font-size: 5rem;
}
<<<<<<< HEAD
=======

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
        font-size: 3.4rem;
    }
<<<<<<< HEAD
=======

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
    .content {
        font-size: 1.8rem;
    }
}


.content-body figure {
    margin: 0.4em 0 1.6em;
    font-size: 2.8rem;
    font-weight: 700;
}

.site-main {
    padding: 1.5vw 0;
}

<<<<<<< HEAD
=======
.question {
    background-color: #ececec;
    border-radius: 8px;
    padding: 5px 25px;
}

    .question h2 {
        margin: 0.5em 0 0.5em 0;
        text-align: center;
    }

        .question h2 span {
            background: #f4ac27;
            border-radius: 100%;
            color: whitesmoke;
            padding: 5px;
        }

    .question table {
        width: 100%;
    }

    .question td {
        background: #ececec;
        border-radius: 10px;
        border: #fff solid 1px;
    }

    .question input[type=radio] {
        height: 15px;
        width: 15px;
        margin-right: 20px;
    }

    .question label {
        font-style: italic;
        color: #15171a;
    }

.module-question-buttons {
    margin-top: 15px;
    padding: 0 15px;
}

    .module-question-buttons input {
        background-color: #2194c0;
        color: whitesmoke;
        font-weight: 800;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 5px;
        padding: 5px 20px;
        margin-right: 15px;
    }

.answers table {
    width: 100%;
    text-align: center;
    background: #ececec;
    border: whitesmoke;
}

.answers th {
}

.answers td {
    font-size: 18px;
}

.answers tr {
    line-height: 1.5em;
}

    .answers tr:nth-child(even) {
        background: #e2e2e2;
    }

.final-score {
    margin: 0;
    color: #f4ac27;
}

>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
@media (max-width: 680px) {
    .site-main {
        padding: 4vw 0;
    }
}

.footer {
    align-items: center;
<<<<<<< HEAD
    background-color:whitesmoke;
    display: flex;
    height: 100px;
    width: 100%;
  }
  
  .footer p {
    color:#15171A;
    font-size: 14px;
    padding-left: 30px;
  }
=======
    background-color: whitesmoke;
    display: flex;
    height: 100px;
    width: 100%;
}

    .footer p {
        color: #15171A;
        font-size: 14px;
        padding-left: 30px;
    }
>>>>>>> 4780c5df89b8a23e1df9ec93ad9eaa6b1d7b6a9c
